#!/bin/bash
eval "$(sentry-cli bash-hook)"
aws s3 cp s3://{{ backups_bucket_name }}/{{ application_name }}_latest_dump.tgz.xz /tmp/backup.tgz.xz
gpg -o /tmp/backup_decrypted.tgz.xz --decrypt /tmp/backup.tgz.xz
unxz /tmp/backup_decrypted.tgz.xz
gunzip /tmp/backup_decrypted.tgz
docker exec -e PGPASSWORD={{database_password}} -t {{ database_container_name }} pg_restore -U {{ database_user }} {{ database_name }} /tmp/backup_decrypted.tar
rm /tmp/backup.tgz.xz
rm /tmp/backup_decrypted.tar
